#map { 
  height: 100vh; 
}

.ship-marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transform: translate(-50%, -50%);
}

.ship-icon {
  background: none !important;
  border: none !important;
}